body
{
    background-image: url("https://i.pinimg.com/originals/f0/e5/6e/f0e56e8cfe306f19b83b906b17814dc8.jpg");
}
h1
{
    color: cornflowerblue;
    font-size: 20px;
}
title
{
    color: red;
    font-size: 1em;
}
#màu nút
{
    color: black;
    font-size:30px;
}
li
{
    color: blue;
}
