body
{
    background-color:red;
}
h1
{
    color: cornflowerblue;
    font-size: 20px;
}
title
{
    color: red;
    font-size: 1em;
}
#màu nút
{
    color: black;
    font-size:30px;
}
li
{
    color: blue;
}
a
{
    color: blue;
}
