body
{
    background-image: url("https://images.unsplash.com/photo-1516617442634-75371039cb3a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}
h1
{
    color: blue;
    font-size: 20px;
}
title
{
    color: red;
    font-size: 1em;
}
#màu nút
{
    color: black;
    font-size:30px;
}
li
{
    color: blue;
}
a
{
    color: blue;
}
div
{
    text-align: center;
}
div
{
    line-height:-1.0;
}
h1
{
    text-align: center;
}
a
{
    color: blueviolet;
}